name: Gen Followings List - CloudEngineHub

run-name: Gen Followings List - CloudEngineHub

on:
  schedule:
    - cron: "0 2 * * 1,3,5" # Run every monday, wednesday and friday at 2:00 AM
  workflow_dispatch: # Manual dispatch

permissions:
  contents: write

env:
  GH_TOKEN: ${{ secrets.GH_PAT }}

defaults:
  run:
    shell: bash
    working-directory: ./scripts

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  gen-followings-list:
    name: Gen Forks List
    runs-on: [self-hosted, CloudEngineHub, runner-1]
    
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4
      
      - name: Configure git
        run: |
          git config --global user.name "github-actions[CloudEngineHub-bot]"
          git config --global user.email "github-actions[CloudEngineHub-bot]@users.noreply.github.com"
      
      - name: Run script gen-followings-list
        run: echo "CloudEngineHub" | ./gen-followings-list.sh
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
      
      - name: Commit changes
        run: |
          cd ..
          git add .
          git commit -m "Update Followings List for CloudEngineHub" || exit 0
        
      - name: Push changes
        run: git push
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
